<div class="container">

  <div class="raw ">
    <div class="col-xs-4">
      Working conditions
    </div>
    <div class="col-xs-4">
      Ambient conditions
    </div>
    <div class="col-xs-4">
      Weather conditions
    </div>
  </div>
  <div class="raw">
    <div class="col-xs-12">
  <hr/>
    </div>
    </div>
  <div class="raw">
    <div class="col-xs-4 center-block">
      <dl class="dl-horizontal">
        <dt>Status</dt>
        <dd>{{info.pelletMonitor.operatingMode | uppercase }}</dd>
        <dt>Power</dt>
        <dd>{{info.pelletMonitor.power}}/6</dd>
        <dt>Water Temp.</dt>
        <dd>{{info.pelletMonitor.tempWater}}&deg;C/{{info.pelletMonitor.tempWaterConsigne}}</dd>
        <dt>Conso</dt>
        <dd *ngIf="info.pelletMonitor.conso !== undefined ">{{info.pelletMonitor.conso | number: '1.0-1'}}Kg/h</dd>
        <dt>Remainings</dt>
        <dd [ngClass]="{
          'bg-danger text-danger' : info.pelletGauge.remaining <= 10,
          'bg-warning text-warning': info.pelletGauge.remaining > 10 && info.pelletGauge.remaining <= 25 }">
          <strong>
            {{info.pelletGauge.remaining | number: '1.0-1'}}Kg</strong></dd>
      </dl>
    </div>
    <div class="col-xs-4">
      <dl class="dl-horizontal">
        <dt>Temp</dt>
        <dd>{{info.indoorData.temp}}&deg;C</dd>
        <dt>Humidity</dt>
        <dd>{{info.indoorData.humi}}%</dd>
      </dl>
    </div>

    <div class="col-xs-4">
      <dl class="dl-horizontal">
        <dt>Temp</dt>
        <dd>{{info.outdoorData.temp}}&deg;C</dd>
        <dt>Humidity</dt>
        <dd>{{info.outdoorData.humi}}%</dd>
      </dl>
      <img src="{{info.outdoorData.icon}}" style="margin-top: -25px;"/>
    </div>
  </div>

  <div class="raw">
    <div class="col-xs-12 autoPanel">

      <strong>Automatic Mode</strong>&nbsp; <!--      Mode auto: {{info.autoMode.mode}}-->
      <button class="btn btn-primary" (click)="onModeOff()" [ngClass]="{'btn-lg active' : info.autoMode.mode === 'off' }" [disabled]="info.autoMode.mode === 'off'">Manual</button>
      <button class="btn btn-primary" (click)="onModeNormal()" [ngClass]="{'btn-lg active' : info.autoMode.mode === 'basic' }" [disabled]="info.autoMode.mode === 'basic'">Automatic</button>
      <button class="btn btn-primary" (click)="onModeVacation()" [ngClass]="{'btn-lg active' : info.autoMode.mode === 'vacation' }" [disabled]="info.autoMode.mode === 'vacation'">Presence</button>
      <button class="btn btn-primary" (click)="onModeAbsent()" [ngClass]="{'btn-lg active' : info.autoMode.mode === 'absent' }" [disabled]="info.autoMode.mode === 'absent'">Absence</button>
      <button class="btn btn-primary" (click)="onModeCustom()" [ngClass]="{'btn-lg active' : info.autoMode.mode === 'custom' }" [disabled]="info.autoMode.mode === 'custom'">Custom</button>

   <!--   onResetAlert()  -->
    </div>
  </div>
  <div class="raw" *ngIf="info.autoMode.mode === 'off' && !info.pelletMonitor.operatingMode.includes('alert')">
    <BR>
    <div class="col-xs-12 autoPanel">
      <strong>Commands: </strong><!--      {{info.pelletMonitor.operatingMode}}<br/> -->
      <button class="btn btn-primary active" (click)="onStart()" [ngClass]="{'btn-lg active' : info.pelletMonitor.operatingMode === 'starting' }" [disabled]="info.pelletMonitor.operatingMode !== 'off'">Start</button>
      <button class="btn btn-primary" (click)="onStop()" [ngClass]="{'btn-lg active' : info.pelletMonitor.operatingMode === 'stopping' }" [disabled]="info.pelletMonitor.operatingMode !== 'on'  ||  info.pelletMonitor.operatingMode !== 'cleaning'">Stop</button>
      <button class="btn btn-primary" (click)="onClean()" [ngClass]="{'btn-lg active' : info.pelletMonitor.operatingMode === 'cleaning' }" [disabled]="info.pelletMonitor.operatingMode !== 'off' ">Clean</button>&nbsp;
      <button class="btn btn-success" (click)="onIncPower()" [disabled]="info.pelletMonitor.power==6">Power +</button>
      <button class="btn btn-success" (click)="onDecPower()" [disabled]="info.pelletMonitor.power==1">Power -</button>
    </div>
  </div>
  <BR>
  <div class="raw" *ngIf="info.pelletMonitor.operatingMode.includes('alert')">
    <div class="col-xs-12 autoPanel" style="background-color: #f10000;">
      <button class="btn btn-primary" (click)="onResetAlert()">Reset Alert</button>
    </div>
  </div>
  <div class="raw" *ngIf="info.pelletGauge.remaining < 10">
    <div class="col-xs-12 autoPanel" style="background-color: #f10000;">
      WARNING: The amount of pellets is LOW !!!
    </div>
  </div>

</div>
